:root {
    font-size: 16px;
    font-family: 'Verdana';
    --body-color: transparent;
    --menu-color: transparent;
    --menu-text-color: transparent;
    --scrollbar-track: transparent;
    --scrollbar-thumb: transparent;
}

body {
    background-color: var(--body-color);
    margin: 0px;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
  }

/* MAIN */

.MAIN {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
}

/* ARTICLE */

.ARTICLE {
    width: 90%;
    padding: 10px;
}


/* MENU_BAR */

.MENU_BAR {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: var(--menu-color);
}

.menu-bar-element {
    font-size: 16px;
    color: var(--menu-text-color);
    padding: 10px;
  }