:root {
  --body-color: transparent;
  --search-bar-input-color: transparent;
  --search-bar-enter-color: transparent;
  --search-bar-enter-hover-color: transparent;
  --search-result-hover-color: transparent;
}

body {
  font-size: 16px;
  font-family: 'Verdana';
  background-color: var(--body-color);
}

/* MAIN */

.MAIN {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* SEARCH */

.SEARCH {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  width: 100%;
  height: 55px;
  margin: auto;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.search-bar-input {
  border-radius: 6px;
  padding: 10px; 
  width: 90%; 
  border: none;
  height: 25px;
  background-color: var(--search-bar-input-color);
}

.search-bar-enter {
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  transition: background-color 400ms ease;
  background-color: var(--search-bar-enter-color);
}

.search-bar-enter:hover {
  background-color: var(--search-bar-enter-hover-color);
}

.search-query-wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: auto;
  width: 100%;
  height: 100px;
}

.search-result {
  width: 100%;
  padding: 10px;
  height: 30px;
  border: none;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color 200ms ease;
}

.search-result:hover {
  background-color: var(--search-result-hover-color);
}


/* MENU_BAR */

.MENU_BAR {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 20%;
  min-width: 120px;
}