:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --body-color: transparent;
  --search-bar-input-color: transparent;
  --search-bar-enter-color: transparent;
  --search-bar-enter-hover-color: transparent;
  --search-result-hover-color: transparent;
  --menu-color: transparent;
  --menu-text-color: transparent;
  --scrollbar-track: transparent;
  --scrollbar-thumb: transparent;
}

body {
  font-size: 16px;
  font-family: 'Verdana';
  background-color: var(--body-color);
  margin: 0px;
}

body::-webkit-scrollbar {
  width: 0.25rem;

}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

.MAIN {
  display: grid;
  grid-template-columns: 1fr 6fr; 
}

.SEARCH { 
  display: grid; 
  grid-template-rows: 70px 100px;
  width: 100%;
}

.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin: auto;
  padding: 10px;
  width: 90%;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.search-bar-input {
  border-radius: 6px;
  padding: 10px; 
  width: 90%; 
  border: none;
  height: 25px;
  background-color: var(--search-bar-input-color);
}

.search-bar-enter {
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  transition: background-color 400ms ease;
  background-color: var(--search-bar-enter-color);
}

.search-bar-enter:hover {
  background-color: var(--search-bar-enter-hover-color);
}

.search-query-wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: auto;
  width: 90%;
  height: 100px;
}

.search-result {
  width: 100%;
  padding: 10px;
  height: 30px;
  border: none;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color 200ms ease;
}

.search-result-header {
  margin-top: -3px;
}

.search-result:hover {
  background-color: var(--search-result-hover-color);
}

.MENU_BAR {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: var(--menu-color);
}

.menu-bar-element-text {
  font-size: 16px;
}