/* Color Scheme :
Powder Blue: #A7BED3
Light Blue: #C6E2E9
Cream (Light Neon Green): #F1FFC4
Apricot: #FFCAAF
Tan: #DAB894
*/

body {
  font-size: 20px;
  font-family: 'Verdana';
  background-color: #ffff;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  width: 90%;
  height: 25px;
  margin: auto;
}

.search-icon {
  width: 20px;
  height: 20px;
}

#aa2 {
  border-radius: 10px;
  background: #e3e5e8;
  padding: 10px; 
  width: 90%;
  height: 25px; 
  border: none;
}

#aa3 {
  background-color: #5864f2;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  transition: background-color 400ms ease;
}

#aa3:hover {
  background-color: #4751c4;
}

.search-query-wrapper {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 25px;
  margin: auto;
  border-radius: 10px;
  transition: background-color 400ms ease;
}

.search-query-wrapper:hover {
  background-color: #e3e5e8;
}

#aa5 {
  margin: auto;
  width: 90%;
  text-align: center;
  padding: 10px;
  border: none;
}

